# Build files
_site
_site_previous
_build/scripts/raw-media
node_modules

# Local config files
.env
.vscode
.netlify

# Temporary files
_cache
.cache
.sass-cache
assets/img/tweet-media

# System files
.DS_Store
