# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Anthony Ciccarello
email: anthony@ciccarello.me
description: >- # this means to ignore newlines until "baseurl:"
  Software engineer living in southern California
  building cool things using JavaScript and other web technologies.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.ciccarello.me" # the base hostname & protocol for your site, e.g. http://example.com
# logo is required for publisher which is required for blogs
logo: "https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256"
twitter:
  username: ajciccarello
github_username: aciccarello
social:
  name: Anthony Ciccarello
permalink: pretty
header_pages: ["blog/index.html"]
paginate: 15
paginate_path: "/blog/page/:num/"

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      image: "https://source.unsplash.com/featured/1024x576/?bird"
      author: "Anthony Ciccarello"
      back_button: ../../../..
  - scope:
      path: ""
    values:
      layout: "default"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-redirect-from
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
