---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ page.url | addBaseUrl }}" rel="self" type="application/atom+xml" />
  <link href="{{ "/" | addBaseUrl }}" rel="alternate" type="text/html" />
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ "/" | addBaseUrl }}</id>
  <author>
    <name>Anthony Ciccarello</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in collections.blog %}
  {%- set absolutePostUrl %}{{ post.url | url | addBaseUrl }}{% endset %}
  {%- set postImage %}{% if post.data.image -%}
      <figure>
        <img src="{{ post.data.image }}" alt="{{ post.data.image_alt | escape }}" />
        {%- if image_caption %}
        <figcaption class="mdc-typography--caption">
          {{ post.data.image_caption | markdownify }}
        </figcaption>
        {%- endif %}
      </figure>
  {%- endif %}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}"/>
    {%- endfor %}
    <content type="html">
      {{ postImage | htmlToAbsoluteUrls(absolutePostUrl) }}
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
