---
layout: default
title: Home
image: "https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256"
---

<link rel="stylesheet" href="/assets/css/homepage.css"/>

<span class="h-card">
	<section class="introduction">
		<img alt="" class="profile-pic u-photo" src="https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=512" height="256" width="256" crossorigin="anonymous"/>
		<div class="introduction-text">
			<h1>Hi, I'm
                <a href="https://www.ciccarello.me/ " class="p-name u-url disable-link-styles" rel="me">Anthony Ciccarello</a>!
            </h1>
			<p class="p-note">
				{{ site.description}}
			</p>
			<div class="btn-group">
				<a class="btn-link" href="#connect">
					Connect with me
				</a>
				<a rel="feed" class="btn-link btn-alternate" href="/posts">
					See Posts
				</a>
			<div>
		</div>
	</section>

	<section class="profiles container">
		<div class="card profile-card">
			<div class="profile-card__title">
				<h2 id="social-links">Social</h2>
				<p>Personal Accounts</p>
			</div>
			<nav aria-labelledby="social-links">
				<a class="u-url" href="acct:anthony@ciccarello.me"></a>
				<a class="account-link u-url" href="/subscribe/#follow-on-mastodon-or-other-fediverse-networks">
					<span class="account-link__graphic" role="presentation">
						<span class="svg-icon">
							{% include "icons/mastodon.svg" %}
						</span>
					</span>
					<span class="account-link__text">
						Mastodon/Fediverse
						<span class="account-link__secondary-text">@anthony@ciccarello.me</span>
					</span>
				</a>
				<a class="account-link" href="https://twitter.com/ajciccarello" rel="me">
					<span class="account-link__graphic" role="presentation">
						<span class="svg-icon">
							{% include "icons/twitter.svg" %}
						</span>
					</span>
					<span class="account-link__text">
						Twitter
						<span class="account-link__secondary-text">Dumpster Fire Archive</span>
					</span>
				</a>
				<a class="account-link" href="https://www.instagram.com/ajciccarello/" rel="me">
					<span class="account-link__graphic" role="presentation">
						<span class="svg-icon">
							{% include "icons/instagram.svg" %}
						</span>
					</span>
					<span class="account-link__text">
						Instagram
						<span class="account-link__secondary-text">Photo Archive</span>
					</span>
				</a>
			</nav>
	</div>
	<div class="card profile-card">
		<div class="profile-card__title">
			<h2 id="software-links">
				Software
			</h2>
			<p>Development Profiles</p>
		</div>
		<nav aria-labelledby="software-links">
			<a class="account-link" href="https://github.com/aciccarello" rel="me">
				<span class="account-link__graphic" role="presentation">
					<span class="svg-icon">
						{% include "icons/github.svg" %}
					</span>
				</span>
				<span class="account-link__text">
					GitHub
					<span class="account-link__secondary-text">Code repository</span>
				</span>
			</a>
			<a class="account-link" href="https://stackoverflow.com/users/4252741/chic" rel="me">
				<span class="account-link__graphic" role="presentation">
					<span class="svg-icon">
						{% include "icons/stack-overflow.svg" %}
					</span>
				</span>
				<span class="account-link__text">
					Stack Overflow
					<span class="account-link__secondary-text">Software Q & A</span>
				</span>
			</a>
			<a class="account-link" href="https://www.npmjs.com/~aciccarello" rel="me">
				<span class="account-link__graphic" role="presentation">
					<span class="svg-icon">
						{% include "icons/npm.svg" %}
					</span>
				</span>
				<span class="account-link__text">
					npm
					<span class="account-link__secondary-text">Package manager</span>
				</span>
			</a>
		</nav>
	</div>
	<div class="card profile-card">
		<div class="profile-card__title">
			<h2 id="career-links">Career</h2>
			<p>Professional Information</p>
		</div>
		<nav aria-labelledby="career-links">
			<a class="account-link" href="/resume" rel="me">
				<span class="account-link__graphic" role="presentation">
					<span class="svg-icon">
						{% include "icons/work-history.svg" %}
					</span>
				</span>
				<span class="account-link__text">
					Resume
					<span class="account-link__secondary-text">Printable work history</span>
				</span>
			</a>
			<a class="account-link" href="https://www.linkedin.com/in/anthonyciccarello/" rel="me">
				<span class="account-link__graphic" role="presentation">
					<span class="svg-icon">
						{% include "icons/linkedin.svg" %}
					</span>
				</span>
				<span class="account-link__text">
					LinkedIn
					<span class="account-link__secondary-text">Career profile</span>
				</span>
			</a>
		</nav>
	</section>

	<section class="skills">
		<h2 class="h1">Skills for the Web</h2>
		<div class="skills-list">
			<div>
				<svg height="64" viewbox="0 0 48 48" width="64" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.8 33.2L9.7 24l9.2-9.2L16 12 4 24l12 12 2.8-2.8zm10.4 0l9.2-9.2-9.2-9.2L32 12l12 12-12 12-2.8-2.8z"/>
				</svg>
				<h3 class="h4">Programming</h3>
				<p>
					<span id="years">{{ '2014-06-01' | yearsSince }}</span>
                    years experience with JavaScript/TypeScript, HTML/CSS, and Java.
					Degree in Computer Engineering.
                </p>
			</div>
			<div>
				<svg height="64" viewbox="0 0 48 48" width="64" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 34.5V42h7.5l22.13-22.13-7.5-7.5L6 34.5zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/>
				</svg>
				<h3 class="h4">Design</h3>
				<p>
                    User interfaces, user experience flows, and code that are easy
					to understand, accessible, and aesthetically pleasing
                </p>
			</div>
			<div>
				<svg height="64" viewbox="0 0 48 48" width="64" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 26.36v8L24 42l14-7.64v-8L24 34l-14-7.64zM24 6L2 18l22 12 18-9.82V34h4V18L24 6z"/>
				</svg>

				<h3 class="h4">Learning</h3>
				<p>
                    Flexibility to learn new tools, frameworks, and langugages.
					Experience to teach software development best practices.
                </p>
			</div>
		</div>
		<a href="/resume" class="btn-link">Learn More</a>
	</section>
	<section class="container">
		<h3>Career</h3>
		{%- assign currentPosition = resume.experience[0] %}
		<p>
            I currently work remotely as a {{currentPosition.position}} for
            <a class="p-org h-card" href="{{currentPosition.companyUrl}}" title="{{currentPosition.companyName}} home page">{{currentPosition.companyName}}</a>
            doing full-stack development.
			Previously I've worked for {{resume.experience[1].companyName}}, {{resume.experience[2].companyName}}, and {{resume.experience[3].companyName}}.
			I've primarily worked on creating JavaScript front-end applications and Java back-end APIs
			but have a wide range of experience across various projects.
			See my <a href="/resume">resume</a> for my full career history.
        </p>
		<h3>
            Personal
        </h3>
		<p>
			My personal life is primarially focused on raising kids who are in <a href="/foster/">foster care</a>.
            I enjoy outdoor activities such as hiking,
            <a href="https://ebird.org/profile/OTUwMDI4" rel="me" title="eBird profile">bird watching</a>, and
                                                                                			playing
            <a href="https://en.wikipedia.org/wiki/Ultimate_(sport)" title="Ultimate frisbee wikipedia article">
                ultimate frisbee</a>. I like working on small wood working projects and caring for my
				indoor and outdoor plants. Additionally, I contribute to Open Source
				software in my free time and was a maintainer of
            <a href="https://typedoc.org/">TypeDoc</a>
            project.
        </p>
		<h3>
            Podcast
        </h3>
		<p>
			I have been a host on the <a href="http://talkscript.fm">TalkScript</a> podcast about TypeScript software development.
			Some of the episodes I've hosted include:
			<ul>
				<li>
					<a href="https://talkscript.sitepen.com/episode-59-modules-mapping-and-migration-oh-my/">
					Episode 59: Modules, Mapping, and Migration. Oh My!
				</a>
				</li>
				<li>
					<a href="https://talkscript.sitepen.com/episode-58-the-ideas-of-jetbrains/">
					Episode 58: The IDEas of JetBrains
				</a>
				</li>
				<li>
					<a href="https://talkscript.sitepen.com/episode-57-typescript-at-scale/">
					Episode 57: TypeScript at Scale
				</a>
				</li>
				<li>
					<a href="https://talkscript.sitepen.com/episode-56-dont-fear-the-monorepo/">
					Episode 56: Don't Fear the Monorepo
				</a>
				</li>
				<li>
					<a href="https://www.sitepen.com/blog/episode-47-backends-sms-browser-streaming-audio-game-engine/">
					Episode 47: Backends – SMS Browser, Streaming Audio & Game Engine
				</a>
				</li>
				<li>
					<a href="https://www.sitepen.com/blog/episode-45-declaration-css-music-components/">
					Episode 45: Declaration – CSS, Music, Components
				</a>
				</li>
			</ul>
		</p>
	</section>
	<section class="" id="connect">
		<h2>Connect</h2>
		<p>Connect with me using one of my preferred channels</p>
		<div class="connect-icons">
			<a aria-label="Email" class="icon-button btn-link u-email" href="mailto:anthony@ciccarello.me" rel="me">
				<span class="svg-icon">
					{% include "icons/email.svg" %}
				</span>
			</a>
			<a aria-label="LinkedIn profile" class="icon-button btn-link" href="https://www.linkedin.com/in/anthonyciccarello/" rel="me">
				<span class="svg-icon">
					{% include "icons/linkedin.svg" %}
				</span>
			</a>
		</div>
	</section>
</span>
