---
title: 'Links'
layout: default
permalink: /links/index.html
---

<style type="text/css">
{% include "links.css" %}
</style>

<img alt="avatar" class="profile-pic u-photo" src="https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=512" height="128" width="128" crossorigin="anonymous"/>
<p>{{ links.description }}</p>
<ul class="pinned-links">
{% for link in links.links %}
        <li>
            <a href="{{link.url}}" class="mdc-button mdc-button--raised mdc-theme--secondary-bg">{{link.title}}</a>
    </li>
{% endfor %}
</ul>
<h3>Share this page!</h3>
<img src="/assets/img/links-qr-code.png" alt="QR code for this page" height="200" width="200" class="qr-code" />
