---
permalink: /sitemap.xml
excludeFromSitemap: true
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
    {%- if not item.data.excludeFromSitemap %}
    <url>
      <loc>{{ item.url | addBaseUrl }}</loc>
      <lastmod>{{ (item.data.lastUpdated | default(item.date)).toISOString() }}</lastmod>
    </url>
    {%- endif %}
  {%- endfor %}
</urlset>
