/** Theme based on https://material.io/color/#!/?view.left=0&view.right=0&primary.color=D50000&secondary.color=1E88E5 */
:root {
  --mdc-theme-primary: #d50000; /* The theme primary color. */
  --mdc-theme-primary-light: #ff5131; /* The theme primary color (light variant). */
  --mdc-theme-primary-dark: #9b0000; /* The theme primary color (dark variant). */
  --mdc-theme-secondary: #1e88e5; /* The theme secondary color. */
  --mdc-theme-secondary-light: #5ab7ff; /* The theme secondary color (light variant). */
  --mdc-theme-secondary-dark: #005cb2; /* The theme secondary color (dark variant). */
  --mdc-theme-background: #FAFAFA; /* The theme background color. */

  /* Primary text on top of a theme primary color background. */
  --mdc-theme-text-primary-on-primary: white;
  /* Primary text on top of a theme primary color background (light variant). */
  --mdc-theme-text-primary-on-primary-light: black;
  /* Primary text on top of a theme primary color background (dark variant). */
  --mdc-theme-text-primary-on-primary-dark: white;
  /* Secondary text on top of a theme primary color background. */
  --mdc-theme-text-secondary-on-primary: white;
  /* Secondary text on top of a theme primary color background (light variant). */
  --mdc-theme-text-secondary-on-primary-light: black;
  /* Secondary text on top of a theme primary color background (dark variant). */
  --mdc-theme-text-secondary-on-primary-dark: white;
  /* Hint text on top of a theme primary color background. */
  --mdc-theme-text-hint-on-primary: white;
  /* Hint text on top of a theme primary color background (light variant). */
  --mdc-theme-text-hint-on-primary-light: black;
  /* Hint text on top of a theme primary color background (dark variant: white; /* ). */
  --mdc-theme-text-hint-on-primary-dark: white;
  /* Disabled text on top of a theme primary color background. */
  --mdc-theme-text-disabled-on-primary: white;
  /* Disabled text on top of a theme primary color background (light variant). */
  --mdc-theme-text-disabled-on-primary-light: black;
  /* Disabled text on top of a theme primary color background (dark variant). */
  --mdc-theme-text-disabled-on-primary-dark: white;
  /* Icons on top of a theme primary color background. */
  --mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);
  /* Icons on top of a theme primary color background (light variant). */
  --mdc-theme-text-icon-on-primary-light: rgba(0, 0, 0, 0.5);
  /* Icons on top of a theme primary color background (dark variant). */
  --mdc-theme-text-icon-on-primary-dark: rgba(255, 255, 255, 0.5);

  /* Primary text on top of a theme secondary color background. */
  --mdc-theme-text-primary-on-secondary: white;
  /* Primary text on top of a theme secondary color background (light variant). */
  --mdc-theme-text-primary-on-secondary-light: black;
  /* Primary text on top of a theme secondary color background (dark variant). */
  --mdc-theme-text-primary-on-secondary-dark: white;
  /* Secondary text on top of a theme secondary color background. */
  --mdc-theme-text-secondary-on-secondary: white;
  /* Secondary text on top of a theme secondary color background (light variant). */
  --mdc-theme-text-secondary-on-secondary-light: black;
  /* Secondary text on top of a theme secondary color background (dark variant). */
  --mdc-theme-text-secondary-on-secondary-dark: white;
  /* Hint text on top of a theme secondary color background. */
  --mdc-theme-text-hint-on-secondary: black;
  /* Hint text on top of a theme secondary color background (light variant). */
  --mdc-theme-text-hint-on-secondary-light: black;
  /* Hint text on top of a theme secondary color background (dark variant: white; /* ). */
  --mdc-theme-text-hint-on-secondary-dark: white;
  /* Disabled text on top of a theme secondary color background. */
  --mdc-theme-text-disabled-on-secondary: black;
  /* Disabled text on top of a theme secondary color background (light variant). */
  --mdc-theme-text-disabled-on-secondary-light: black;
  /* Disabled text on top of a theme secondary color background (dark variant). */
  --mdc-theme-text-disabled-on-secondary-dark: white;
  /* Icons on top of a theme secondary color background. */
  --mdc-theme-text-icon-on-secondary: rgba(0, 0, 0, 0.5);
  /* Icons on top of a theme secondary color background (light variant). */
  --mdc-theme-text-icon-on-secondary-light: rgba(0, 0, 0, 0.5);
  /* Icons on top of a theme secondary color background (dark variant). */
  --mdc-theme-text-icon-on-secondary-dark: rgba(255, 255, 255, 0.5);

  --mdc-theme-text-primary-on-background: black; /* Primary text on top of the theme background color. */
  --mdc-theme-text-secondary-on-background: black; /* Secondary text on top of the theme background color. */
  --mdc-theme-text-hint-on-background: black; /* Hint text on top of the theme background color. */
  --mdc-theme-text-disabled-on-background: black; /* Disabled text on top of the theme background color. */
  --mdc-theme-text-icon-on-background: black; /* Icons on top of the theme background color. */

  --mdc-theme-text-primary-on-light: black; /* Primary text on top of a light-colored background. */
  --mdc-theme-text-secondary-on-light: black; /* Secondary text on top of a light-colored background. */
  --mdc-theme-text-hint-on-light: black; /* Hint text on top of a light-colored background. */
  --mdc-theme-text-disabled-on-light: black; /* Disabled text on top of a light-colored background. */
  --mdc-theme-text-icon-on-light: black; /* Icons on top of a light-colored background. */
  --mdc-theme-text-primary-on-dark: white; /* Primary text on top of a dark-colored background. */
  --mdc-theme-text-secondary-on-dark: white; /* Secondary text on top of a dark-colored background. */
  --mdc-theme-text-hint-on-dark: white; /* Hint text on top of a dark-colored background. */
  --mdc-theme-text-disabled-on-dark: white; /* Disabled text on top of a dark-colored background. */
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5); /* Icons on top of a dark-colored background. */
}

/** Limit the width of an area */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.title-link {
  color: white;
  text-decoration: none;
}

mdc-toolbar__icon[class^="socicon-"] {
  font-size: 20px;
}

main {
  background-color: #FAFAFA;
  padding-bottom: 16px;
}

.about {
  padding: 32px 0px 16px;
}

@media screen and (max-width: 720px) {
  .introduction {
    flex-wrap: wrap;
  }
}

.introduction {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  margin-top: 32px;
}

.profile-pic {
  border-radius: 50%;
  height: 256px;
  width: 256px;
  margin: 16px;
}

.introduction-text {
  margin: 16px;
}

.skills {
  text-align: center;
  padding: 64px 16px 64px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-list > div {
  flex: 1;
  margin: 16px;
  max-width: 300px;
}

.skills-list p {
  text-align: justify;
}

.skills-list i {
  font-size: 64px;
}

.mdc-typography--subheading2 {
  margin-top: 2rem;
}

.mdc-card {
  background-color: white;
  margin: 16px auto;
}

.list-avatar {
  background: rgba(0,0,0,.26);
  color: white;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 16px 0px 8px;
  background-color: #E0E0E0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}


@media screen and (max-width: 720px) {
  .introduction {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 960px) {
  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .skills-list > div {
    max-width: 600px;
  }

}
