/** Theme based on https://material.io/color/#!/?view.left=0&view.right=0&primary.color=D50000&secondary.color=1E88E5 */
:root {
  --mdc-theme-primary: #d50000; /* The theme primary color. */
  --mdc-theme-primary-light: #ff5131; /* The theme primary color (light variant). */
  --mdc-theme-primary-dark: #9b0000; /* The theme primary color (dark variant). */
  --mdc-theme-secondary: #1e88e5; /* The theme secondary color. */
  --mdc-theme-secondary-light: #5ab7ff; /* The theme secondary color (light variant). */
  --mdc-theme-secondary-dark: #005cb2; /* The theme secondary color (dark variant). */
  --mdc-theme-background: #FAFAFA; /* The theme background color. */
}

/** Limit the width of an area */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.title-link {
  color: white;
  text-decoration: none;
}

main {
  background-color: #FAFAFA;
  padding: 32px 0px 16px;
}

@media screen and (max-width: 720px) {
  .introduction {
    flex-wrap: wrap;
  }
}

.introduction {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.profile-pic {
  border-radius: 50%;
  height: 256px;
  width: 256px;
  margin: 16px;
}

.introduction-text {
  margin: 16px;
}

.mdc-card {
  background-color: white;
  margin: 16px auto;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}

.profile-card {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  margin: 16px;
}

.profile-card__title {
  padding: 16px;
}

.profile-card__title > .mdc-typography--headline5 {
  margin: 0;
  padding-top: 8px;
}

.profile-card__title > .mdc-typography--subtitle2 {
  margin: 0;
}

.list-avatar {
  background: rgba(0,0,0,.26);
  color: white;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.skills {
  text-align: center;
  padding: 64px 16px 64px;
  background-color: var(--mdc-theme-secondary-dark);
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-list > div {
  flex: 1;
  margin: 32px;
  max-width: 300px;
}

.skills-list i {
  font-size: 64px;
}

.mdc-typography {
  line-height: 1.25rem;
}

.mdc-typography--subheading2 {
  margin-top: 2rem;
}

#connect {
  padding: 32px;
  text-align: center;
}

.connect-icons a {
  text-decoration: none;
  font-size: 20px;
  margin: 8px;
}

footer {
  padding: 16px 0px 8px;
  background-color: #E0E0E0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .profile-card {
    margin: 8px 4px;
  }
}

@media screen and (max-width: 720px) {
  .introduction {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 960px) {
  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .skills-list > div {
    max-width: 600px;
  }

}
