---
layout: page
title: Cookbooks
back_button: "/recipes"
permalink: "/recipes/cookbooks/"
source_comment: This is an HTML page to avoid being parsed as a recipe post. Might want to find a better way to distinguish between the two.
---

<style>
  .iframe-container {
	position: relative;
	min-height: 250px;
	max-height: 80vh;
	width: 50%;
	aspect-ratio: 6/7;
	margin-top: 2rem;

	float: right;
	margin-left: 1rem;

	& iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
	  border: 0;
	}
  }

  h2,.featured-post-list {
	clear: both;
  }
</style>

{% markdownify %}
## Half Baked Harvest Super Simple

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=WUCzDwAAQBAJ&lpg=PP1&pg=PP1&output=embed" width=500 height=500></iframe>
</div>

Bekah got me this cookbook from the [recipe blog of the same name](https://www.halfbakedharvest.com/) and the recipes are both tasty and approachable.
It's probably our most used cookbook.
Tieghan Gerard tends to use a lot of fresh herbs which is great for flavor but requires some planning if we want to use them all up before they go bad.

[Goodreads](https://www.goodreads.com/book/show/43888840-half-baked-harvest-super-simple) [Half Baked Harvest Website](https://www.halfbakedharvest.com/cookbook/half-baked-harvest-super-simple/){rel="noreferrer}

<div class="featured-post-list"">
{% include "post-card.html" post: collections.pageByUrl['/recipes/2025/02/28/chicken-pot-pie/'] %}

{% include "post-card.html" post: collections.pageByUrl['/recipes/2021/01/25/butternut-squash-and-apple-pizza/'] %}

{% include "post-card.html" post: collections.pageByUrl['/recipes/2021/01/12/creamy-chicken-gnocchi-soup/'] %}
</div>

### Recipes we'd like to try

- Coconut Curry Meatballs - pg 216 (have a draft copy)
- Spicy Potato Shakshuka - pg 156
- Roasted Red Pepper Bolognese - pg 115

## Half Baked Harvest Every Day

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=Tq5hEAAAQBAJ&newbks=0&lpg=PP1&dq=half%20baked%20every%20day&pg=PP1&output=embed" width=500 height=500></iframe>
</div>

The odd thing about this cookbook is that many of these recipes are not "every day" meals or foods.

## The Tucci Cookbooks

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=X1YEQiQIOYYC&newbks=0&lpg=PR1&dq=the%20tucci%20cookbook&pg=PR10&output=embed" width=500 height=500></iframe>
</div>

This was a christmas gift from my sister and her husband after we asked for an Italian cookbook.
It's funny to me now that I didn't recognize the author's face until a couple months later, but Stanley Tucci is a well known actor and played Julia Child’s husband in Julie & Julia.
This cookbook is full of personal anecdotes about his family and their cooking traditions.
In general, I like reading the commentary of this book even more than making the recipes because it's full of thoughts about what makes meals special.
Many of the recipes are more appropriate for a big party than a weeknight dinner, but there are some simpler ones as well.
I'd like to check out his other cookbook [The Tucci Table](https://www.goodreads.com/book/show/21412297-the-tucci-table) which I think has more staples.

[Goodreads](https://www.goodreads.com/book/show/13260464-the-tucci-cookbook)

## Magnolia Table

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=7AQ5DwAAQBAJ&newbks=0&lpg=PA1&dq=magnolia%20table&pg=PA1&output=embed" width=500 height=500></iframe>
</div>

Honestly haven't used this one from Joanna Gains much yet.

### Recipes we'd like to try

- Shepherd's Pie - pg 246

[Goodreads](https://www.goodreads.com/book/show/36381100-magnolia-table) [Magnolia Store](https://magnolia.com/shop/product/365289078788/magnolia-table-cookbook/)

## Antoni in the Kitchen

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=OHaqDwAAQBAJ&newbks=0&lpg=PP1&dq=antoni%20in%20the%20kitchen&pg=PP1&output=embed" width=500 height=500></iframe>
</div>

Haven't used this cookbook from Antoni Porowski yet.

While not from the cookbook, we did make this recipe from Antoni's show Queer Eye.
He also has a show diving into people's family culinary history called [No Taste Like Home](https://www.imdb.com/title/tt29536553/).

<div class="featured-post-list">
{% include "post-card.html" post: collections.pageByUrl['/recipes/2025/02/25/papillote-halibut/'] %}
</div>

## Against All Grain

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=FosDCwAAQBAJ&newbks=0&lpg=PP1&dq=against%20all%20grain&pg=PP1&output=embed" width=500 height=500></iframe>
</div>

A Paleo cookbook from Danielle Walker.
We've never been really into Paleo, but it's nice to have some grain free recipes.

[Goodreads](https://www.goodreads.com/book/show/17415999-against-all-grain)

## Snacking Cakes

<div class="iframe-container">
<iframe frameborder="0" scrolling="no" src="https://books.google.com/books?id=3BUAEAAAQBAJ&lpg=PP1&pg=PP1&output=embed" width=500 height=500></iframe>
</div>

We heard about this small cake cookbook by Yossy Arefi from the Pansuit Politics podcast.
We haven't made many of these but they are a satisfying size for a small family.

[Goodreads](https://www.goodreads.com/book/show/51152421-snacking-cakes)

{% endmarkdownify %}
