<style>
#snow-container {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 45;
	pointer-events: none;
}
#snow-toggle {
	margin: 2rem auto 1.5rem;
	display: block;
}

:root:has(.christmas-enabled) {
	--color-background: oklch(96% 0.025 221);
	--color-accent:       oklch(45% 0.17 145);
	--color-accent-light: oklch(63% 0.15 145);
	--color-accent-dark:  oklch(35% 0.12 145);
	--color-alternate-base: var(--color-accent);
	--color-alternate-dark: var(--color-accent-dark);
}

@media (prefers-color-scheme: dark) {
	.christmas-enabled {
		--color-background: oklch(19.6% 0.0359 221);
	}
}

.christmas-enabled #snow-container {
	display: block;
}
.christmas-enabled footer {
	background-color: var(--color-accent-light);
}
.christmas-enabled footer a, .christmas-enabled footer a:visited {
	color: black;
}
</style>
<div id="snow-container"></div>
<button id="snow-toggle" onclick="toggleChristmasTheme()">Toggle Theme</button>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@erikwatson/snowfall@3/dist/snowfall.min.js"
  defer
  onload="onChristmasLoad();"
></script>
<script>
const christmasThemeKey = 'ciccarello-christmas-theme-enabled';
let christmasThemeEnabled = localStorage.getItem(christmasThemeKey) !== "false";
setChristmasClass();

function onChristmasLoad() {
	const main = document.querySelector("main");
	const button = document.getElementById("snow-toggle");

	if (main && button) {
		main.append(button);
	}

	if (christmasThemeEnabled && ("snowfall" in window) && !window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
		// You can change the defaults by passing in a config object here
		// Use the Visual Config Editor to create one
		snowfall.start({
			bg: '#00000000',
			primary: "#ffffffd0",
			secondary: "#ffffff70",
			density: 45,
				wave: {
				frequency: 0.012,
				amplitude: 0.5
			},
			gravity: {
				angle: 90,
				strength: 0.3
			},
		});
	}
}

function setChristmasClass() {
	if (christmasThemeEnabled) {
		document.body.classList.add("christmas-enabled");
		if ("snowfall" in window) {
			snowfall.setPaused(false)
		}
	} else {
		document.body.classList.remove("christmas-enabled");
		if ("snowfall" in window) {
			snowfall.setPaused(true)
		}
	}
}

function toggleChristmasTheme() {
	christmasThemeEnabled = !christmasThemeEnabled;
	localStorage.setItem(christmasThemeKey, christmasThemeEnabled);
	setChristmasClass();
}
</script>
