{% assign domain = url | split: "//" %} {% assign domain = domain[1]| split: "/" | first %}
<div class="h-cite">
	<a href="{{ url }}" class="card embed-card u-url disable-link-styles">
		<blockquote class="">
			<h3 class="post-title p-name">
				{{ title }}
			</h3>
			<cite>{{ domain }}</cite>
			<p class="p-content">{{ description }}</p>
			<img
				src="{{ img }}"
				alt="{{ alt }}"
				{%- if objectPosition %}
				style="object-position: {{objectPosition}}"
				{%- endif %}
				class="u-featured"
			/>
		</blockquote>
	</a>
</div>
