{% assign domain = url | split: "//" %} {% assign domain = domain[1]| split: "/" | first %}
<div class="h-cite">
	<a href="{{ url }}" class="u-url disable-link-styles">
		<blockquote class="card embed-card mdc-elevation-transition">
			<h3 class="post-title p-name mdc-typography--subtitle1">
				{{ title }}
			</h3>
			<cite class="mdc-typography--caption">{{ domain }}</cite>
			<p class="mdc-typography--body2 p-content">{{ description }}</p>
			<img
				src="{{ img }}"
				alt="{{ alt }}"
				{%- if objectPosition %}
				style="object-position: {{objectPosition}}"
				class="u-featured"
				{%- endif %}
			/>
		</blockquote>
	</a>
</div>
