{% if image %}
	<figure class="card__media post-thumbnail">
		{%- assign filetype = image | split: "." | last %}
		{%- if filetype == 'mp4' %}
			<video autoplay muted controls loop class="{% if layout == 'photo' %}u-video {% endif %}" aria-label="{{ image_alt | escape }}">
				<source type="video/mp4" src="{{ image }}">
			</video>
		{%- else %}
			<img src="{{ image }}" alt="{{ image_alt | escape }}" class="{% if layout == 'photo' or layout == 'recipe' %}u-photo photo {% endif %}u-featured" data-pagefind-meta="image[src], image_alt[alt]"/>
		{%- endif %}
		{%- if image_caption %}
			<figcaption>
				{{ image_caption | markdownify }}
			</figcaption>
		{%- endif %}
	</figure>
{% endif %}
