<footer>
	<section>
		<h2 id="footer-featured-links">Featured</h2>
		<nav aria-labelledby="footer-featured-links">
			<a href="/">Home</a>
			<a href="/posts/">Posts</a>
			<a href="/links/">Links</a>
			<a href="/resume/">Resume</a>
		</nav>
	</section>
	<section>
		<h2 id="footer-meta-links">Meta</h2>
		<nav aria-labelledby="footer-meta-links">
			<a href="/subscribe/">Subscribe</a>
			<a href="/colophon/">Colophon</a>
			<a href="/privacy/" rel="privacy-policy">Privacy</a>
			{%- if eleventyExcludeFromCollections != "deleted" -%}
				<a href="https://github.com/aciccarello/ciccarello.me/blob/main/{{ page.inputPath }}" rel="noopener">
				Page source
			</a>
			{% endif %}
		</nav>
	</section>
	<section>
		<h2 id="footer-other-links">Elsewhere</h2>
		<nav aria-labelledby="footer-other-links">
			<a href="https://www.linkedin.com/in/anthonyciccarello/" rel="noopener"
				>LinkedIn</a
			>
		</nav>
	</section>
	{%- if page.url == "/" %}
		<div class="site-updated"> Site Last Updated:
		<time datetime="{{ buildTime | formatMachineDate }}">
				{{- buildTime | formatHumanDate: true -}}
			</time>
		</div>
	{% endif %}
</footer>