<footer class="mdc-typography--caption">
	<section class="container flex-row">
		<nav role="navigation">
			<a href="/">Home</a> / <a href="/posts/">Posts</a> /
			<a href="/foster/">Foster Care</a> /
			<a href="/links/">Links</a> / <a href="/privacy/">Privacy</a> /
			<a href="/colophon/">Colophon</a> /
			<a href="https://www.linkedin.com/in/anthonyciccarello/" rel="noopener"
				>LinkedIn</a
			>
		</nav>
		<span class="flex-grow"></span>
		<a href="https://github.com/aciccarello/ciccarello.me/blob/main/{{ page.inputPath }}" rel="noopener">
			View page source
		</a>
	</section>
	{%- if page.url == "/" %}
		<div class="container"> Site Last Updated:
			<time datetime="{{ buildTime | formatMachineDate }}">
				{{- buildTime | formatHumanDate: true -}}
			</time>
		</div>
	{% endif %}
</footer>
