{%- assign collectionData = collections.all | getCollectionItem: page -%}
<head>
	<meta charset="utf-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	{%- if eleventyExcludeFromCollectionsReason == "deleted" %}
		<meta http-equiv="Status" content="410 Gone"/>
	{%- endif %}
	{%- include "seo" -%}
	<link rel="stylesheet" href="/assets/css/common.css"/>
	{%- if not collectionData or collectionData.templateContent contains "</pre>" %}
	 	{%- comment %}
			Future proof the selection by requiring on of two options using "not"
			See https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme for details
		{% endcomment %}
		<link rel="stylesheet" media="(not (prefers-color-scheme: dark))" href="{{ '/assets/css/highlight.css' | url }}">
		<link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ '/assets/css/highlight-dark.css' | url }}">
	{%- endif %}
	{%- if page.url == "/foster/" %}
	<link
		type="application/atom+xml"
		rel="alternate"
		href="{{ '/posts/tags/foster%20care/feed.xml' | addBaseUrl }}"
		title="Anthony Ciccarello Foster Care"
	/>
	{%- else %}
	<link
		type="application/atom+xml"
		rel="alternate"
		href="{{ '/feed.xml' | addBaseUrl }}"
		title="Anthony Ciccarello"
	/>
	{%- endif %}
	<link rel="webmention" href="https://webmention.io/www.ciccarello.me/webmention"/>
	<link rel="pingback" href="https://webmention.io/www.ciccarello.me/xmlrpc"/>
	{% if page.url == "/" %}
		<link rel="micropub" href="http://localhost:3001/micropub">
		<link rel="authorization_endpoint" href="http://localhost:3001/auth">
		<link rel="token_endpoint" href="http://localhost:3001/auth/token">
		<link rel="microsub" href="https://aperture.p3k.io/microsub/581"/>
		<link rel="me" href="https://fed.brid.gy/r/https://www.ciccarello.me/"/>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"name": "Anthony Ciccarello",
				"givenName": "Anthony",
				"familyName": "Ciccarello",
				"gender": "Male",
				"email": "anthony@ciccarello.me",
				"jobTitle": "Senior Software Engineer",
				"image": "{{site.profileImage}}?s=256",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "San Diego",
					"addressRegion": "California"
				},
				"url": "http://ciccarello.me",
				"sameAs": [
					"https://github.com/aciccarello",
					"https://twitter.com/ajciccarello",
					"https://www.linkedin.com/in/anthonyciccarello",
					"https://medium.com/@aciccarello",
					"https://www.linkedin.com/in/anthonyciccarello",
					"https://www.instagram.com/ajciccarello/"
				]
			}
		</script>
	{% endif %}
	<link rel="stylesheet" href="/assets/css/print.css" media="print"/>
	<script type="module" src="/assets/js/common.js"></script>
</head>
