<div class="mdc-card mdc-elevation-transition h-entry">
	{%- if post.data.image -%}
	{% assign filetype = post.data.image | split: "." | last -%}
	<a class="mdc-card__media mdc-card__media--16-9" href="{{ post.url | url }}" role="img"
		{% if filetype != 'mp4' -%}style="background-image: url('{{ post.data.image }}');"{% endif %}>
		{% if filetype == 'mp4' -%}
		<video preload="metadata" alt="{{ post.data.image_alt | escape }}">
			<source type="video/mp4" src="{{ post.data.image }}">
		</video>
		{% endif %}
	</a>
	{%- endif -%}
	<a class="mdc-card__primary disable-link-styles u-rul {% if post.data.layout == "note" %}note-card{% endif %}" href="{{ post.url | url }}">
		<div class="post-heading">
			{%- if post.data.title -%}
			<h3 class="mdc-typography--headline6 p-name">
				{{ post.data.title | escape }}
			</h3>
			{%- endif -%}
			<time class="mdc-typography--subtitle2 dt-published" datetime="{{ post.date | formatMachineDate }}">
				{{- post.date | formatHumanDate: post.data.hideTime -}}
			</time>
		</div>
		<div class="post-body mdc-typography--body1">
			<p class="post-text p-summary">
				{%- if post.data.subtitle -%}
				{{ post.data.subtitle | strip_html }}
				{%- else -%}
				{{ post.templateContent | strip_html | joinLines | truncatewords: 50 }}
				{%- endif -%}
			</p>
            {%- assign tags = post.data.tags -%}
            {%- if tags.size > 0 or showKind %}
                <ul class="mdc-chip-set p-category" title="Tags">
					{%- if showKind %}
					<span class="mdc-chip">
						<span class="mdc-chip__text">{{ post.data.layout }}</span>
					</span>
					{%- endif %}
                    {%- for tag in tags %}
					<span class="mdc-chip">
						<span class="mdc-chip__text">{{ tag }}</span>
					</span>
                    {% endfor %}
                </ul>
            {%- endif -%}
        </div>
    </a>
</div>
