<div class="
{%- if post.data.layout == "recipe" -%}
h-recipe
{%- else -%}
h-entry
{%- endif -%}
" {% if post.excludeFromSitemap -%}
    data-nosnippet
{%- endif %}>
	<a class="u-url mdc-card mdc-elevation-transition disable-link-styles" href="{{ post.url | url }}">
		{%- if post.data.image -%}
			{% assign filetype = post.data.image | split: "." | last -%}
			<div class="mdc-card__media mdc-card__media--16-9"
            {% if post.data.layout == "photo" %}aria-label="{{ post.data.image_alt | escape }}" role="img"{% endif %}
            {% if filetype != 'mp4' -%}style="background-image: url('{{ post.data.image }}');"{% endif %}>
				{% if filetype == 'mp4' -%}
					<video preload="metadata" alt="{{ post.data.image_alt | escape }}">
						<source type="video/mp4" src="{{ post.data.image }}">
					</video>
				{% endif %}
			</div>
		{%- endif -%}
		<div class="mdc-card__primary {% if post.data.layout == "note" %}note-card{% endif %}">
			<div class="post-heading">
				{%- if post.data.title -%}
					<h3 class="mdc-typography--headline6 p-name">
						{{ post.data.title | escape }}
					</h3>
				{%- endif -%}
				<time class="mdc-typography--subtitle2 dt-published" datetime="{{ post.date | formatMachineDate }}">
					{{- post.date | formatHumanDate: post.data.dateFormat -}}
				</time>
			</div>
			<div class="post-body mdc-typography--body1">
				<p class="post-text p-summary">
					{%- if post.data.subtitle -%}
						{{ post.data.subtitle | joinLines | strip_html }}
						{%- elsif post.data.type == "link" %}
						{{ post.data.responseData.plaintextSummary }}
						{%- if post.data.responseData.content and not post.data.responseData.name %}:
							“{{ post.data.responseData.content | joinLines | strip_html | truncatewords: 50 }}”
						{%- endif %}
					{%- else -%}
						{{ post.templateContent | joinLines | strip_html | truncatewords: 50 }}
					{%- endif -%}
				</p>
				{%- assign tags = post.data.tags -%}
				{%- if tags.size > 0 or showKind %}
					<ul class="mdc-chip-set" title="Tags">
						{%- if showKind %}
							<li class="mdc-chip">
								<span class="mdc-chip__text">{{ post.data.type | default: post.data.layout }}</span>
							</li>
						{%- endif %}
						{%- for tag in tags %}
							<li class="p-category mdc-chip">
								<span class="mdc-chip__text">{{ tag }}</span>
							</li>
						{% endfor %}
					</ul>
				{%- endif -%}
			</div>
			<data class="u-author" value="/"/>
		</div>
	</a>
</div>