<!-- Begin Jekyll SEO tag v2.5.0 -->
<title>{{title}} | Anthony Ciccarello</title>
<meta name="generator" content="Jekyll v3.8.5" />
<meta property="og:title" content="{{title | default : "Anthony Ciccarello"}}" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="I’m a software engineer living in southern California building cool things using JavaScript and other web technologies. I enjoy traveling to other countries and spending time in nature." />
<meta property="og:description" content="I’m a software engineer living in southern California building cool things using JavaScript and other web technologies. I enjoy traveling to other countries and spending time in nature." />
<link rel="canonical" href="http://localhost:4000/{{url}}" />
<meta property="og:url" content="http://localhost:4000/{{url}}" />
<meta property="og:site_name" content="Anthony Ciccarello" />
<meta property="og:image" content="https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ajciccarello" />
<script type="application/ld+json">
{"publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256"}},"headline":"Home","description":"I’m a software engineer living in southern California building cool things using JavaScript and other web technologies. I enjoy traveling to other countries and spending time in nature.","@type":"WebSite","url":"http://localhost:4000/","image":"https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256","name":"Anthony Ciccarello","@context":"http://schema.org"}</script>
<!-- End Jekyll SEO tag -->
