<div class="post-suggestions container">
	{%- assign collectionName = collectionName | default: typePlural %}
	{%- assign collection = collections | map: collectionName | first %}
	{%- assign previousPost = collection | getPreviousCollectionItem: page %}
	{%- assign nextPost = collection | getNextCollectionItem: page %}
	<h2 class="h3">
		View more {{collectionName}}
	</h2>
	{% if previousPost %}
		<div class="post-suggestions__area post-suggestions__previous">
			<h3 class="h4">
				Previous
			</h3>
			{% include "post-card.html" post: previousPost %}
		</div>
	{% endif %}
	{% if nextPost %}
		<div class="post-suggestions__area post-suggestions__next">
			<h3 class="h4">
				Next
			</h3>
			{% include "post-card.html" post: nextPost %}
		</div>
	{% endif %}
</div>
