/* Palette URL: https://paletton.com/#uid=7050u0kt+lZlOstrKqzzSiaJidt */
:root {
	--color-base-hue: 30.93;
	--color-base: oklch(48.66% 0.182 var(--color-base-hue));
	--color-base-light: oklch(64.24% 0.174 var(--color-base-hue));
	--color-base-dark: oklch(33.88% 0.129 var(--color-base-hue));
	--color-base-muted: var(--color-base-light);
	--color-base-distinct: var(--color-base-dark);

	--color-accent-hue: 218.49;
	--color-accent: oklch(43.28% 0.075 var(--color-accent-hue));
	--color-accent-light: oklch(49.9% 0.084 var(--color-accent-hue));
	--color-accent-dark: oklch(37.54% 0.068 var(--color-accent-hue));
	--color-accent-muted: var(--color-accent-light);
	--color-accent-distinct: var(--color-accent-dark);

	--color-alternate-hue: 146.71;
	--color-alternate-base: oklch(53.16% 0.161 var(--color-alternate-hue));
	--color-alternate-extra-light: oklch(90% 0.158 var(--color-alternate-hue));
	--color-alternate-light: oklch(78% 0.318 var(--color-alternate-hue));
	--color-alternate-dark: oklch(
		37.53% 0.11451772731002564 var(--color-alternate-hue)
	);
	--color-alternate: var(--color-alternate-base);
	--color-alternate-distinct: var(--color-alternate-dark);

	--color-light-background: oklch(98% 0 0);
	--color-less-light-background: oklch(90% 0 0);
	--color-dark-background: oklch(2% 0 0);
	--color-less-dark-background: oklch(30% 0 0);
	--color-background: var(--color-light-background);
	--color-background-1: var(--color-less-light-background);

	--text-on-light-background: oklch(5% 0 0);
	--text-on-dark-background: oklch(95% 0 0);
	--text-on-background: var(--text-on-light-background);
	--text-on-distinct: var(--text-on-dark-background);
	--text-short-line-height: 1.25;
	--text-tall-line-height: 2;

	--text-on-primary: oklch(98% 0 0);
	--container-width: 64rem;
	--color-disabled: oklch(70% 0 0 / 60%);
	--color-border: oklch(70% 0 0 / 40%);
	--border-radius: 0.5rem;

	/* Fonts from https://github.com/system-fonts/modern-font-stacks */
	--body-font: system-ui, sans-serif;
	--code-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
		Consolas, 'DejaVu Sans Mono', monospace;
	--accent-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

	--box-shadow-standard: 0 0.5rem 1rem var(--color-border);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-dark-background);
		--color-background-1: var(--color-less-dark-background);
		--text-on-background: var(--text-on-dark-background);
		--text-on-distinct: var(--text-on-light-background);
		--color-base-muted: var(--color-base-dark);
		--color-base-distinct: var(--color-base-light);
		--color-accent-muted: var(--color-accent-dark);
		--color-accent-distinct: var(--color-accent-light);
		/* shift alternate colors for more contrast */
		--color-alternate: var(--color-alternate-light);
		--color-alternate-distinct: var(--color-alternate-extra-light);
	}
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-family: var(--body-font);
	color: var(--text-on-background);
	line-height: var(--text-short-line-height);
	/* Disable mobile browser compatibility adjustment */
	text-size-adjust: none;
}

*,
::before,
::after {
	box-sizing: border-box;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

nav ol,
nav ul {
	list-style: none;
	padding: 0;
	line-height: var(--text-short-line-height);
}

svg:not([fill]) {
	fill: currentColor;
}

a {
	color: var(--color-alternate);
}

a:where(:hover),
a:where(:visited) {
	color: var(--color-alternate-distinct);
}

a:where(:hover:visited) {
	color: var(--color-alternate);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	/* Any styles in the individual header sections should be defined here so that class styles override */
	margin: 3em 0 0.5em;
	font-weight: bolder;
	font-style: normal;
	text-transform: none;
	line-height: var(--text-short-line-height);
	/* fall back to root style */
	font-family: unset;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	& + .h2,
	& + h2,
	& + h3,
	& + .h3,
	& + h4,
	& + .h4,
	& + h5,
	& + .h5 {
		margin-block-start: 1.25em;
	}
}

h1,
.h1 {
	margin-block-start: 1.5em;
	font-size: 2rem;
	font-weight: normal;
}

h2,
.h2 {
	font-size: 1.25rem;
}

h3,
.h3 {
	font-family: var(--accent-font);
	font-size: 1.125rem;
	font-style: italic;
	font-weight: normal;
}

h4,
.h4 {
	font-size: 0.9375rem;
	text-transform: uppercase;
}

h5,
.h5 {
	font-family: var(--accent-font);
	font-size: 0.875rem;
	font-weight: normal;
}

small {
	font-size: 80%;
}

p,
ul,
ol {
	margin: 1rem 0;
	line-height: var(--text-tall-line-height);

	& ul,
	& ol {
		/* Don't want margin on nested lists */
		margin: 0;
	}
}

li {
	/* Give lists some extra space between rows to make them easier to read */
	/* line-height: 1.75; */
}

time {
	font-size: 0.875rem;
}

/** Limit the width of an area */
.container {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	max-width: var(--container-width);

	/*
	 * Because cards have a border, we want to maintain some margin on small screens
	 * where margin:auto doesn't apply
	 * Container width is 64rem so 64rem - left margin - right margin
	 */
	@media screen and (max-width: 63em) {
		&.card,
		&.post-suggestions {
			margin-right: 0.5rem;
			margin-left: 0.5rem;
		}
	}
}

main {
	padding: 0 0 1rem;
	flex: 1 0 auto;
}

html {
	/*
	 * Want to maintain full height even when content not tall enough
	 * but maintain background when content is tall (body styles)
	*/
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	background-color: var(--color-background);
}

body > header {
	height: 4rem;
	background-color: var(--color-base);
	color: var(--text-on-primary);
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 4;

	& section {
		display: flex;
		align-items: center;
		padding: 0.5rem;
	}

	& .title-link {
		color: white;
		text-decoration: none;
		padding: 0.5rem;
		margin-left: -0.5rem;
		&:first-child {
			margin-left: 0.5rem;
		}

		font-size: larger;
		font-weight: bold;
	}

	& a {
		position: relative;
		outline: none;
		color: var(--text-on-primary);

		&:before {
			display: block;
			content: '';
			background-color: var(--text-on-primary);
			border-radius: var(--border-radius);
			top: calc(50% - 50%);
			left: calc(50% - 50%);
			width: 100%;
			height: 100%;
			z-index: 1;
			position: absolute;
			opacity: 0;
			transition: opacity 50ms linear;
		}

		&:is(:focus, :hover):before {
			opacity: 0.3;
		}
	}
}

footer {
	--color-alternate: var(--color-alternate-base);
	--color-alternate-distinct: var(--color-alternate-dark);
	max-width: 100vw;
	overflow-x: auto;
	flex-shrink: 0;
	background-color: #e0e0e0;
	border-top: var(--color-border) 1px solid;
	color: black;
	display: grid;
	grid: auto / 1fr 1fr 1fr;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;

	& section {
		text-align: center;
	}

	& h2 {
		font-size: 1.25rem;
		margin: 1rem 0 0.75rem;
	}

	& a {
		/* Darker color needed for contrast against gray background */
		color: var(--color-alternate-distinct);
	}

	& section a {
		display: block;
		margin: 0.25rem;
	}

	& .indiewebring a {
		display: inline-block;
	}

	& .page-metadata {
		grid-column: 1 / 4;
	}

	& .site-updated {
		float: right;
	}
}

figure {
	margin: 1rem 0;
	text-align: center;
}

/** Courtesy of https://css-tricks.com/examples/hrs/ */
hr::after {
	content: '● ● ●';
	word-spacing: 1em;
	padding: 0 1em;
	display: inline-block;
	position: relative;
	top: calc(calc(var(--_border-width) / -2) - 0.5em);
	background: var(--color-background);
}

hr {
	--_border-width: 2px;
	overflow: visible;
	padding: 0;
	border: none;
	border-top: var(--_border-width) solid var(--color-disabled);
	color: var(--text-on-background);
	text-align: center;
	font-size: 0.625rem;
	width: 75%;
	line-height: 1;
	margin: 3rem auto;
	clear: both;
}

pre {
	display: block;
	font-family: var(--code-font, monospace);
	clear: both;
	border-radius: var(--border-radius);
}

code {
	font-family: var(--code-font, monospace);
	font-size: 0.875rem;
	padding: 1px 0.2em;
}

aside {
	padding: 1rem 2rem;
	font-size: 1.1em;
	border-top: medium double #333;
	border-bottom: medium double #333;
	margin: 2rem 0;
	font-style: italic;
}

.translation-alert {
	display: none;
	margin: 2rem;
}

.unlisted-warning {
	border: none;
	background-color: var(--color-base-muted);
	color: var(--text-on-background);
}

input,
button,
.btn-link {
	background-color: white;
	border-color: var(--color-border);
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 1px;
	font-size: 1.1rem;
	height: auto;
	margin: 0.5em 0 0;
	padding: 0.5em 0.75em;
	max-width: 100%;

	/* need to unset some link styles */
	&:not(:hover, :focus) {
		text-decoration: none;
	}
	text-align: center;
	display: inline-block;
}

fieldset {
	border-radius: var(--border-radius);
	border: 0.125rem solid var(--color-border);
	padding: 0.5rem;

	&:has(> legend) :nth-child(2) {
		margin-block-start: 0;
	}

	&:not(:has(> legend)) :first-child {
		margin-block-start: 0;
	}
}

legend {
	padding: 0 0.5rem;
}

form,
.form {
	& input,
	& button,
	& .btn-link {
		width: 100%;

		&[type='radio'],
		&[type='checkbox'] {
			width: unset;
			margin-inline-end: 0.5rem;
		}
	}

	& label {
		margin-bottom: 0.25em;
		font-size: 1em;
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		display: block;
	}
}

.form-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 0.5rem;
}

input[type='submit'],
input[type='button'],
button,
.btn-link {
	min-width: 5rem;
	text-transform: capitalize;
	/* font-weight: 700; */

	/* Primary button styles */
	background-color: var(--color-accent);
	border: none;
	box-shadow: none;
	color: #fff;

	&[disabled] {
		color: var(--color-disabled);
		cursor: default;
		pointer-events: none;
	}

	&:is(:hover, :focus) {
		background-color: var(--color-accent-muted);
	}

	&.btn-alternate {
		background-color: transparent;
		border: 1px solid var(--color-base-distinct);
		color: var(--color-base-distinct);

		&:is(:hover, :focus) {
			border-color: var(--color-base);
			color: var(--color-base);
		}

		&[disabled] {
			border-color: var(--color-disabled);
			color: var(--color-disabled);
		}
	}

	&.btn-flat {
		/* TODO: rename */
		background-color: var(--color-background-1);
		color: var(--color-alternate);

		&:hover {
			box-shadow: var(--box-shadow-standard);
		}

		&[disabled] {
			color: var(--color-disabled);
		}
	}
}

.btn-link:visited {
	/* TODO */
}

.icon-button {
	width: 3rem;
	min-width: 0;
	height: 3rem;
	padding: 0.75rem;
	font-size: 1.5rem;
	display: inline-block;
	position: relative;
	border: none;
	outline: none;
	fill: currentColor;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

.btn-group {
	display: flex;
	gap: 0.5rem;
}

.no-wrap {
	white-space: nowrap;
	overflow-x: auto;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@media screen and (max-width: 45em) {
	.introduction {
		flex-wrap: wrap;
	}
}

.card {
	/* background-color: white; */
	display: block;
	margin: 1rem auto;
	border-radius: var(--border-radius);
	border: 0.125rem solid var(--color-border);
	overflow: hidden;
	transition: box-shadow ease-out 0.2s;

	&a:hover {
		box-shadow: var(--box-shadow-standard);
	}
}

.card__primary {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.card__media--16-9 {
	/* todo, replace this with an image tag */
	aspect-ratio: 16 / 9;
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;

	& > video {
		width: 100%;
		position: absolute;
		top: 0;
		aspect-ratio: 16/9;
		object-fit: cover;
	}
}

.note-card .post-text {
	font-size: 1.1em;
	-webkit-line-clamp: 5;
}

.svg-icon,
.svg-icon > svg {
	height: 1.5rem;
	width: 1.5rem;
	fill: currentColor;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-grow {
	flex-grow: 1;
}

.post-list,
.post-suggestions {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem 1rem;
	padding-left: 0;
	padding-right: 0;

	& > li {
		list-style: none;
	}
	/* Ensure cards of different heigh content appear same height */
	& > .post-suggestions__area,
	& > .post-suggestions__area > div,
	& > li > div,
	& .card {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		height: 100%;
	}

	& .h4 {
		margin-block-start: 1em;
	}

	@media screen and (min-width: 45em) {
		& {
			grid-template-columns: 1fr 1fr;
		}

		& > li:first-child {
			grid-column-start: 1;
			grid-column-end: span 2;
		}

		& > li:first-child .card__media--16-9 {
			aspect-ratio: 32/9;
		}
	}

	& .card:hover {
		box-shadow: var(--box-shadow-standard);
	}
}

.post-body {
	margin: 0 1rem 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.post-text {
	margin: 0 0 auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;

	& .chip-set {
		margin-top: 1rem;
	}
}

.category-menu h3 {
	all: unset;
	display: inline-block;
	font-size: 1.25rem;
}

.category-menu ul {
	display: inline-flex;
	padding: 0 1rem;
}

.category-menu li {
	list-style: none;
}

a.disable-link-styles {
	text-decoration: none;
	color: var(--color-text-primary-on-light);
}

.post-heading {
	margin: 1rem;
}

.post-heading > h3 {
	margin: 0;
}

.chip-set {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0.5rem 0;
	padding: 0;

	& li {
		list-style: none;
	}
}

.chip-item {
	border-radius: 1rem;
	background-color: #e0e0e0;
	color: rgba(0, 0, 0, 0.87);
	font-size: 0.875rem;
	line-height: var(--text-short-line-height);
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	padding: 0 0.75rem;
	overflow: hidden;
}

.print-show {
	display: none;
}

.post {
	padding: 0;
}

.post img,
.post video {
	width: 100%;
	/* Shrink height to keep whole image in view */
	max-height: 90vh;
	object-fit: contain;
}

.post-thumbnail {
	margin: 0;
}

figure:has(> .post-img--float),
figure:has(> .post-img--float-right) {
	width: 50%;
	max-width: 350px;
	margin: 0 1rem 0.5rem 0;
	float: left;

	/* align top with heading */
	&:has(+ h1, + .h1, + h2, + .h2, + h3, + .h3, + h4, + .h4, + h5, + .h5) {
		margin-block-start: 3em;
	}
}

figure:has(> .post-img--float-right) {
	float: right;
	margin: 0 0 0.5rem 1rem;
}

figure img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

figcaption {
	margin-top: 0.5rem;
}

img.post-img--float,
video.post-img--float,
img.post-img--float-right,
video.post-img--float-right {
	max-width: 100%;
}

.post-content figure img,
.post-content figure video {
	width: 600px;
}

figure img.post-img--wide,
figure video.post-img--wide {
	width: 100%;
}
figure:has(> .post-img--width) {
	max-width: 100%;
}

figcaption {
	font-size: 0.8rem;
	line-height: 1.25rem;
}

.html5-video-player {
	display: block;
	margin: auto;
}

.review-context {
	margin: 1rem;
	padding: 1rem;
}

.reply-context {
	margin: 0 2rem 1rem;
	font-style: italic;
}

blockquote {
	border-left: solid var(--color-accent-muted) 0.5rem;
	padding-left: 0.5rem;
}

.reply-context blockquote {
	/* remove duplicate margin */
	margin-bottom: 0;
}

.rating-stars {
	font-size: 2em;
}

.post .rating-stars,
.post-header,
.post-content,
.post-footer {
	margin: 0 1rem 1.5rem;
}

.post-syndication,
.post-updates {
	margin: 1rem 2rem;
}

.post-suggestions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'title title' 'left right';
	grid-gap: 0 1rem;
}

@media screen and (max-width: 45em) {
	.post-list {
		grid-template-columns: 1fr;
	}
}

.post-suggestions__area {
	display: flex;
	flex-direction: column;
}

.post-suggestions__area > .card {
	flex-grow: 1;
	margin: 0;
}

.post-suggestions__previous {
	grid-area: left;
}

.post-suggestions__next {
	grid-area: right;
}

.post-suggestions__next > h3 {
	text-align: right;
}

.embed-card {
	margin: 2rem auto;
	max-width: 50rem;

	& > blockquote {
		all: unset;
		--embed-card-max-height: 9rem;
		box-sizing: content-box;
		/* border: none;
		margin: 0;
		padding: 0; */
		display: grid;
		grid-template-columns: minmax(100px, 4fr) 1fr 25%;
		grid-template-rows: auto;
		grid-template-areas: 'header domain img' 'text text img' 'spacer spacer img';

		& h3 {
			/* Remove header styles */
			all: unset;
			grid-area: header;
			margin: 1rem;
		}

		& img {
			grid-area: img;
			object-fit: cover;
			/* safari fix to prevent 100% page height */
			height: 100%;
			max-height: var(--embed-card-max-height);
		}

		& p {
			grid-area: text;
			margin: 0 1rem 1rem;
			font-size: 0.875rem;

			-webkit-line-clamp: 3;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;

			@media screen and (max-width: 40em) {
				-webkit-line-clamp: 2;
			}
		}

		& cite {
			grid-area: domain;
			display: block;
			font-size: 0.875rem;
			text-align: right;
			margin: 1rem;
		}
	}
}

@media screen and (max-width: 40em) {
	.embed-card > img {
		/* safari fix to prevent 100% page height */
		max-height: 12rem;
	}
}

.twitter-tweet {
	/* TODO: Look into this for instagram embeds */
	margin: 2rem auto !important;
}

.author-description {
	padding: 0;
	margin: 5rem auto;
}

.author-description__primary-action {
	display: flex;
	flex-direction: row;
	margin: 1rem;
}

.author-description__media {
	height: 3rem;
	width: 3rem;
	margin-right: 1rem;
}

.author-description__media::before {
	/* hide material :before style which takes up space */
	display: none;
}

.author-description__media img {
	width: 100%;
	border-radius: 50%;
}

.author-description__title {
	margin: 0;
}

.author-description__subtitle {
	margin: 0;
	color: var(--color-text-secondary-on-background);
}

.author-description__content {
	margin: 0 1rem;
}

.blog-alternates {
	display: flex;
	justify-content: space-between;
}

.pagination {
	text-align: center;
	margin: 2rem;

	& ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
		justify-content: center;
		padding: 0;

		& li {
			list-style: none;
			display: inline;

			&.pagination-separator {
				display: none;
			}
		}
	}

	& .btn-link {
		display: flex;
		min-width: 2rem;

		& span.svg-icon {
			/* Don't want icon changing button height */
			height: 0;
		}

		/* Adjust margin to make up for narrow arrow icons */
		&[rel='prev'] span.svg-icon {
			margin-inline-start: -0.5rem;
		}

		&[rel='next'] span.svg-icon {
			margin-inline-end: -0.5rem;
		}
	}
}

@media screen and (max-width: 40em) {
	/* Adjust for wrapping of pagination on narrow screens */
	.pagination.pagination-wide li.pagination-separator {
		display: block;
		flex-basis: 100%;
		order: 5;
	}

	.pagination.pagination-wide li:first-child {
		order: 6;
	}

	.pagination.pagination-wide li:last-child {
		order: 7;
	}
}

.cooklang-ingredient {
	font-weight: bold;
}

.cooklang-timer {
	font-style: italic;
}

#dynamicMap {
	height: 500px;
}
.leaflet-container {
	filter: var(--map-tiles-filter, none);
}
@media (prefers-color-scheme: dark) {
	:root {
		--map-tiles-filter: brightness(0.6) invert(1) contrast(3)
			hue-rotate(200deg) saturate(0.3) brightness(0.7);
	}
}

@media screen and (max-width: 28em) {
	.extra-icon {
		display: none;
	}
}

@media screen and (max-width: 40em) {
	.container {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	/* Specificity fix to avoid the above padding changes */
	.post.container,
	.post.author-description {
		padding: 0;
	}

	.profile-card {
		margin: 0.5rem 0.25rem;
	}

	.form-inline {
		display: flex;
		column-gap: 0.5rem;
	}
}

@media screen and (max-width: 45em) {
	.introduction {
		flex-wrap: wrap;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
