.introduction {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	max-width: 76rem;
}

.profile-pic {
	border-radius: 50%;
	height: 256px;
	width: 256px;
	/* Fix Firefox rendering bug */
	flex-shrink: 0;
	margin: 1rem;
}

.introduction-text {
	margin: 1rem;
}

.account-link {
	display: flex;
	color: var(--text-on-background);

	&:not(:hover, :focus) {
		text-decoration: none;
	}
}

.account-link__graphic {
	display: flex;
	height: 3rem;
	width: 3rem;
	margin: 0.5rem 0 0.5rem 1rem;
	background: hsl(0 0% 26%);
	color: white;
	border-radius: 50%;
	font-size: 20px;
	align-items: center;
	justify-content: center;
}

.account-link__text {
	padding: 0.5rem;
}

.account-link__secondary-text {
	display: block;
	font-size: 0.9em;
}

.skills {
	text-align: center;
	padding: 64px 16px 64px;
	background-color: var(--color-accent-dark);
	color: var(--text-on-dark-background);

	& .btn-link {
		width: fit-content;
	}
}

.skills-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	& > div {
		flex: 1;
		margin: 32px;
		max-width: 300px;
	}

	& svg {
		opacity: 0.5;
	}
}

.connect-icons a {
	text-decoration: none;
	font-size: 20px;
	margin: 8px;
}
