.responses-card {
	padding: 1rem;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 0;
}

#webmentions .reacts li {
	display: inline;
	padding-right: 0.25rem;
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0 1rem;
}

#webmentions .comments li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    max-height: 1.3em;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    color: #555;
    font-style: italic;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: #111;
}

#webmentions a.source {
	margin-left: 0.5rem;
}

.details-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.comment-details {
	flex-basis: 25%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.email-details {
	flex-basis: 25%;
	flex-grow: 1;
}

/** comment & email links */
.mention-action {
	width: 100%;
	margin-top: auto;
}

@media screen and (max-width: 40em) {
	.details-wrapper {
		display: block;
	}
}
