---
layout: default
back_button: "/posts"
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
redirect_from: /blog/page/1
excludeFromSitemap: true
pagination:
  data: collections.blog
  size: 15
  reverse: true
  alias: posts
eleventyComputed:
  title: "Blog - Page {{pagination.pageNumber | plus: 1}} of {{pagination.pages.length}}"
---

<div class="home container h-feed">
	<h1 class="post-list-heading mdc-typography--headline4 p-name">
		{{ page.list_title | default: "Articles" }}
	</h1>
	<ol class="post-list">
		{%- for post in posts -%}
		<li>
			{% include "post-card.html" post: post %}
		</li>
		{%- endfor -%}
	</ol>
	<p class="blog-alternates">
		<span class="rss-subscribe">Subscribe for updates<a href="/subscribe"></a></span>
		<span class="blog-alternates--other">
			Also available on <a href="https://medium.com/@aciccarello" rel="noopener">Medium</a>
		</span>
	</p>

	{% include "pagination.html" %}

</div>
