---
title: Tags
layout: default
back_button: /posts
---

<div class="home container">
	<h2 class="post-list-heading h1">
        Featured Tags
	</h2>
    <ul class="chip-set">
        {%- for tag in featured %}
        <li>
            <a href="/posts/tags/{{tag}}/" class="chip-item">
                {{ tag }}
            </a>
        </li>
        {% endfor %}
    </ul>
	<h2 class="post-list-heading h1">
		Tags Across All Posts
	</h2>
    <ul class="chip-set">
        {%- for tag in collections.tagList %}
        <li>
            <a href="/posts/tags/{{tag}}/" class="chip-item">
                {{ tag }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
