---
layout: default
back_button: ..
pagination:
    data: collections.tagList
    size: 1
    alias: tag
permalink: /posts/tags/{{ tag }}/
eleventyComputed:
    title: Posts tagged {{ tag }}
---

<div class="home container">
	<h1 class="post-list-heading mdc-typography--headline4">
		Posts tagged "{{ tag }}"
	</h1>
    {%- if descriptions[tag] %}
    <p>
        {{ descriptions[tag] | markdownify }}
    </p>
    {%- endif %}
	<ol class="post-list">
        {%- for post in collections[tag] reversed %}
        <li>
			{% include "post-card.html" post: post %}
        </li>
        {%- endfor %}
    </ol>
</div>
