---
layout: default
back_button: "/posts"
permalink: "/notes/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
redirect_from: /notes/page/1
pagination:
  data: collections.notes
  size: 15
  reverse: true
  alias: notes
eleventyComputed:
  title: "Notes{% if pagination.pages.length > 1 %} - Page {{pagination.pageNumber | plus: 1}} of {{pagination.pages.length}}{% endif %}"
---

<div class="home container h-feed">
	<h1 class="post-list-heading mdc-typography--headline4 p-name">
		{{ page.list_title | default: "Notes" }}
	</h2>
	<p>
		Short thoughts and replies that weren't a whole blog post.
	</p>
	<ol class="post-list">
		{%- for post in notes -%}
		<li>
			{% include "post-card.html" post: post %}
		</li>
		{%- endfor -%}
	</ol>
	<p class="blog-alternates">
		<span class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | url }}">via RSS</a></span>
	</p>

	{% include "pagination.html" %}

</div>
