---
layout: default
back_button: "/posts/"
permalink: "/posts/all/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
redirect_from: /posts/all/page/1
pagination:
  data: collections.posts
  size: 25
  reverse: true
  alias: posts
eleventyComputed:
  title: "All Posts - Page {{pagination.pageNumber | plus: 1}} of {{pagination.pages.length}}"
---

<div class="container h-feed">
	<h1 class="post-list-heading p-name">
		{{ page.list_title | default: "Posts" }}
	</h1>
	<ol class="post-list">
		{%- for post in posts -%}
			<li>
			{% include "post-card.html" post: post, showKind: true %}
			</li>
		{%- endfor -%}
	</ol>
	<p class="blog-alternates">
		<span class="rss-subscribe">
			<a href="/subscribe">Subscribe for updates</a>
		</span>
	</p>

{% include "pagination.html" %}

</div>
