---
layout: default
title: "Test post list"
permalink: "/posts/testPosts/"
back_button: ..
eleventyExcludeFromCollections: true
eleventyExcludeFromCollectionsReason: testing
---

<div class="container h-feed">
	<h1 class="post-list-heading p-name">
		{{ title }}
	</h1>
	<p>
		A list of example posts
	</p>
	<ol class="post-list">
		{%- for post in collections.testPosts -%}
			<li>
				{% include "post-card.html" post: post, showKind: true %}
			</li>
		{%- endfor -%}
	</ol>

	{% include "pagination.html" %}

</div>

<section class="container">
	<h2>All test posts</h2>
	<p>Posts excluded from collections cannot be shown with a preview card. All test posts are listed below.</p>
	{%- assign parsedPosts = test.posts | json | replace: "{", "" | replace: "}", "" | replace: "\"", "" | split: "," %}
	<ul>
		{%- for testPost in parsedPosts %}
		<li>
			{%- assign parts = testPost | split: ':' %}
			{{ parts | first}}:
			<a href="{{parts | last}}">{{parts | last}}</a>
		</li>
	{%- endfor %}
	</ul>
</section>
