---
layout: default
---

<article class="container post h-entry mdc-card">
	{% if image %}
	<figure class="mdc-card__media post-thumbnail u-featured">
		<div class="post-thumbnail--wrapper">
			<img src="{{ image }}" alt="{{ image_alt | escape }}" />
		</div>
		{% if image_caption %}
		<figcaption class="mdc-typography--caption">
			{{ image_caption | markdownify }}
		</figcaption>
		{% endif %}
	</figure>
	{% endif %}
	<header class="post-header">
		<h1 class="post-title p-name mdc-typography--headline3">
			<a class="u-url disable-link-styles" href="{{ page.url | url }}">
				{{ title | escape }}
			</a>
		</h1>
		{%- if subtitle -%}
		<h2 class="post-title p-summary mdc-typography--headline6">
			{{ subtitle | escape }}
		</h2>
		{%- endif -%}
		<p class="post-meta">
			<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
				{{- page.date | formatHumanDate: hideTime -}}
			</time>
			{%- if author -%} •
			<span class="p-author h-card">{{ author }}</span>
			{%- endif -%}
		</p>
		{%- if tags.size > 0 -%}
		<ul class="mdc-chip-set" title="Tags">
			{% for tag in tags %}
			<a href="/posts/tags/{{tag}}/" rel="tag" class="mdc-chip">
				<span class="mdc-chip__text">{{ tag }}</span>
			</a>
			{% endfor %}
		</ul>
		{%- endif -%}
	</header>

	<div class="post-content mdc-typography--body1 e-content">
		{{ content }}
	</div>
</article>
<section class="container mdc-card author-card">
	<div class="author-card__primary-action" tabindex="0">
		<div class="mdc-card__media mdc-card__media--square author-card__media"></div>
		<div class="author-card__primary">
			<h2 class="author-card__title mdc-typography mdc-typography--headline6">
				<a class="p-author h-card disable-link-styles" href="/">
					Anthony Ciccarello
				</a>
			</h2>
			<h3 class="author-card__subtitle mdc-typography mdc-typography--subtitle2">
				About the author
			</h3>
		</div>
	</div>
	<p class="author-card__content">
		{{ site.description }}
	</p>
	<div class="mdc-card__actions">
		<div class="mdc-card__action-buttons">
			<a href="/#connect" class="mdc-button mdc-card__action mdc-card__action--button">
				Connect
			</a>
		</div>
	</div>
</section>
{% include "mentions.html" %}
<div class="post-suggestions container">
	{% assign previousPost = collections.blog | getPreviousCollectionItem: page %}
	{% assign nextPost = collections.blog | getNextCollectionItem: page %}
	<h2 class="mdc-typography--headline6">
		Recent articles
	</h2>
		{% if previousPost %}
		<div class="post-suggestions__area post-suggestions__previous">
			<h3 class="mdc-typography--subtitle1">
				Previous
			</h3>
			{% include "post-card.html" post: previousPost %}
		</div>
		{% endif %}
		{% if nextPost %}
		<div class="post-suggestions__area post-suggestions__next">
			<h3 class="mdc-typography--subtitle1">
				Next
			</h3>
			{% include "post-card.html" post: nextPost %}
		</div>
		{% endif %}
	</ul>
</div>
