---
layout: default
---

<article class="h-entry">
	<section class="container post mdc-card">
		{% if image %}
			<figure class="mdc-card__media post-thumbnail">
				<div class="post-thumbnail--wrapper">
					<img src="{{ image }}" alt="{{ image_alt | escape }}" class="u-featured"/>
				</div>
				{% if image_caption %}
					<figcaption class="mdc-typography--caption">
						{{ image_caption | markdownify }}
					</figcaption>
				{% endif %}
			</figure>
		{% endif %}
		<header class="post-header">
			<h1 class="post-title p-name mdc-typography--headline3">
				<a class="disable-link-styles" href="{{ page.url | url }}">
					{{ title | escape }}
				</a>
			</h1>
			{%- if subtitle -%}
				<h2 class="post-title p-summary mdc-typography--headline6">
					{{ subtitle | escape }}
				</h2>
			{%- endif -%}
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
			{% include "tags.html" %}
		</header>

		<div class="post-content mdc-typography--body1 e-content">
			{{ content }}
		</div>
		{% include "syndication.html" %}
		<a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
	</section>
	{% include "author.html" %}
	{% include "mentions.html" %}
</article>
{% include "suggestions.html" %}
