---
layout: default
---

<article class="h-entry">
	<section class="container post card">
		{% include "featured-media.html" %}
		<header class="post-header">
			{%- if subtitle -%}
			<hgroup>
			{%- endif -%}
			<h1 class="post-title p-name">
				<a class="disable-link-styles" href="{{ page.url | url }}">
					{{ title | escape }}
				</a>
			</h1>
			{%- if subtitle -%}
				<p role="doc-subtitle" class="post-title p-summary h2">
					{{ subtitle | escape }}
				</p>
			</hgroup>
			{%- endif -%}
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
			{% include "tags.html" %}
		</header>

		<div class="post-content e-content">
			{{ content }}
		</div>
		{% include "syndication.html" %}
		{% include "updates.html" %}
		<a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
		<link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{page.url | addBaseUrl}}">
	</section>
	{% include "author.html" %}
	{% include "mentions.html" %}
</article>
{% include "suggestions.html" %}
