<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">

    {%- include "head.html" -%}

    <body class="mdc-typography">

		{%- include "christmas.html" -%}
        {%- include "header.html" -%}

        <main aria-label="Content" class="page-content">
			{%- if eleventyExcludeFromCollections == "draft" -%}
			<aside class="unlisted-warning">
				<strong>Draft Content</strong>
				<p>This page including the URL and contents is subject to change.</p>
			</aside>
			{%- endif -%}

			{%- if eleventyExcludeFromCollections == "deleted" -%}
			<aside class="unlisted-warning">
				<strong>Content Deleted</strong>
				<p>This page was removed and is no longer available.</p>
			</aside>
			{%- else -%}
            {{ content }}
			{%- endif -%}
        </main>

        {%- include "footer.html" -%}

		{%- include "analytics.html" -%}
    </body>

</html>
