<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

    {%- include "head.html" -%}

    <body>
		{%- include "christmas.html" -%}
        {%- include "header.html" -%}

        <main aria-label="Content" class="page-content">
		{%- case eleventyExcludeFromCollectionsReason %}
			{%- when "draft" -%}
			<aside class="unlisted-warning">
				<strong>Draft Content</strong>
				<p>This page including the URL and contents is subject to change.</p>
			</aside>
			{%- when "testing" -%}
			<aside class="unlisted-warning">
				<strong>Testing page</strong>
				<p>This page including the URL and contents is subject to change.</p>
			</aside>
			{%- when "deleted" -%}
			<aside class="unlisted-warning">
				<strong>Content Deleted</strong>
				<p>This page was removed and is no longer available.</p>
			</aside>
		{%- endcase -%}

		{% assign links = page.url | locale_links %}
		{%- for link in links %}
		{%- if forloop.first %}
		<section class="translation-alert">
		🌐 {{text.translations}}
		{% endif %}
		{%- unless forloop.first %},{% endunless %}
		<a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
		{%- if forloop.last %}
		</section>
		{% endif %}
		{%- endfor -%}

		{%- if eleventyExcludeFromCollectionsReason != "deleted" -%}
            {{ content }}
		{%- endif -%}
        </main>

        {%- include "footer.html" -%}

		{%- include "analytics.html" -%}
    </body>

</html>
