---
layout: default
---

<style type="text/css">
	.author-card.container,
	.responses-card.container,
	article.container {
		max-width: 32rem;
	}

	.post-content {
		font-size: 1.1em;
	}
</style>
<div class="h-entry">
	<article class="container post mdc-card">
		{% include "featured-media.html" %}
		<header class="post-header">
			{%- if title -%}
				<h1 class="post-title p-name mdc-typography--headline3">
					{{ title | escape }}
				</h1>
			{%- endif -%}
			{%- if subtitle -%}
				<h2 class="post-title p-summary mdc-typography--headline6">
					{{ subtitle | escape }}
				</h2>
			{%- endif -%}
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
		</header>
		{%- if responseData %}
			<section class="{{ responseData.class }} reply-context">
				{{responseData.actionDescription}}
				<a href="{{responseData.url}}" class="u-url">{{responseData.postDescription}}</a>
				{%- if responseData.author %} by <span class="p-author h-card">
						{%- if responseData.author.url %}
							<a href="{{responseData.author.url}}" class="u-url p-name">{{ responseData.author.name }}</a>
						{%- else -%}
							{{ responseData.author.name }}
						{%- endif -%}
					</span>
				{%- endif %}
				{%- if responseData.content or responseData.photo%}: <blockquote>
					{%- if responseData.photo %}
					{%- assign photo = responseData.photo | first | default: responseData.photo  %}
					{%- assign photoUrl = photo.value | default: photo %}
					<img class="u-photo" src="{{photoUrl}}" {% if photo.alt %}alt="{{photo.alt}}"{% endif %} >
					{%- endif %}
					{%- if responseData.content %}
					<p class="p-content">{{ responseData.content | newline_to_br }}</p>
					{%- endif %}
				</blockquote>
				{%- endif %}
			</section>
		{%- endif %}
		<div class="post-content mdc-typography--body1 e-content">
			{{ content }}
		</div>
		<a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
		{% include "syndication.html" %}

		<div class="post-footer">
			{% include "tags.html" %}
		</div>

	</article>
	{% include "author.html" %}
	{% include "mentions.html" %}
</div>
{% include "suggestions.html" %}
