---
layout: default
---

<style type="text/css">
	.author-card.container,
	.responses-card.container,
	article.container {
		max-width: 32rem;
	}

	.post-content {
		font-size: 1.1em;
	}
</style>
<div class="h-entry">
	<article class="container post card">
		{% include "featured-media.html" %}
		<header class="post-header">
			{%- if subtitle -%}
			<hgroup>
			{%- endif -%}
			{%- if title -%}
				<h1 class="post-title p-name">
					{{ title | escape }}
				</h1>
			{%- endif -%}
			{%- if subtitle -%}
				<p class="post-title h2 p-summary">
					{{ subtitle | escape }}
				</p>
			</hgroup>
			{%- endif -%}
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
		</header>
		{% include "reply-context.html" %}
		<div class="post-content e-content">
			{{ content }}
		</div>
		<a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
		<link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{page.url | addBaseUrl}}">
		{% include "syndication.html" %}

		<div class="post-footer">
			{% include "tags.html" %}
		</div>

	</article>
	{% include "author.html" %}
	{% include "mentions.html" %}
</div>
{% include "suggestions.html" %}
