---
layout: default
---

<div class="h-entry">
    <article class="container post mdc-card">
        {% if image %}
            <figure class="mdc-card__media post-thumbnail u-featured">
                {% assign filetype = image | split: "." | last -%}
                {% if filetype == 'mp4' -%}
                    <video autoplay loop class="u-video post-img--wide" alt="{{ image_alt | escape }}">
                        <source type="video/mp4" src="{{ image }}">
                    </video>
                {% else -%}
                    <img src="{{ image }}" alt="{{ image_alt | escape }}" class="u-photo post-img--wide"/>
                {% endif %}
                {% if image_caption %}
                    <figcaption class="mdc-typography--caption">
                        {{ image_caption | markdownify }}
                    </figcaption>
                {% endif %}
            </figure>
        {% endif %}
        <header class="post-header">
            <p class="post-meta">
                <a class="u-url disable-link-styles" href="{{ page.url | url }}">
                    <time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
                        {{- page.date | formatHumanDate: dateFormat -}}
                    </time>
                </a>
            </p>
            {% include "tags.html" %}
        </header>

        <div class="post-content mdc-typography--body1 e-content">
            {{ content }}
        </div>
        {% include "syndication.html" %}
        <a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
    </article>
    {% include "author.html" %}
    {% include "mentions.html" %}
</div>
<div class="post-suggestions container">
    {% assign previousPost = collections.photos | getPreviousCollectionItem: page %}
    {% assign nextPost = collections.photos | getNextCollectionItem: page %}
    <h2 class="mdc-typography--headline6">
		Recent photos
	</h2>
    {% if previousPost %}
        <div class="post-suggestions__area post-suggestions__previous">
            <h3 class="mdc-typography--subtitle1">
				Previous
			</h3>
            {% include "post-card.html" post: previousPost %}
        </div>
    {% endif %}
    {% if nextPost %}
        <div class="post-suggestions__area post-suggestions__next">
            <h3 class="mdc-typography--subtitle1">
				Next
			</h3>
            {% include "post-card.html" post: nextPost %}
        </div>
    {% endif %}
</ul>
</div>