---
layout: default
---

<div class="h-entry">
	<article class="container post" data-pagefind-body>
		{% if image %}
			<figure class="card__media post-thumbnail">
				{% assign filetype = image | split: "." | last -%}
				{% if filetype == 'mp4' -%}
					<video autoplay muted controls loop class="u-video post-img--wide" aria-label="{{ image_alt | escape }}">
						<source type="video/mp4" src="{{ image }}">
					</video>
				{% else -%}
					<img src="{{ image }}" alt="{{ image_alt | escape }}" class="u-photo u-featured post-img--wide" data-pagefind-meta="image[src], image_alt[alt]">
				{% endif %}
				{% if image_caption %}
					<figcaption>
						{{ image_caption | markdownify }}
					</figcaption>
				{% endif %}
			</figure>
		{% endif %}
		<header class="post-header">
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
			{% include "tags.html" %}
		</header>

		<div class="post-content e-content">
			{{ content }}
		</div>
		{% include "syndication.html" %}
		{% include "updates.html" %}
		{%- include "trip-link" %}
		{% include "map" %}
		<a href="https://fed.brid.gy/" class="u-bridgy-fed" aria-hidden="true" tabindex="-1"></a>
		<link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{page.url | addBaseUrl}}">
	</article>
	{% include "author.html" %}
	{% include "mentions.html" %}
</div>
{% include "suggestions.html" %}
