---
layout: default
---

<div class="h-entry">
	<article class="container post" data-pagefind-body>
		{% include "featured-media.html" %}
		<header class="post-header">
			<h1 class="post-title p-name">
				<a class="disable-link-styles" href="{{ page.url | url }}">
					{{ title | escape }}
				</a>
			</h1>
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
			{% include "tags.html" %}
		</header>

		{%- if read-of -%}
		<section class="read-context card p-read-of h-cite">
			<a href="{{ read-of.url }}" class="u-url read-context__cover">
				<img class="u-photo read-context__cover-img" src="{{ read-of.photo | default: '/assets/icons/book-96.svg' }}" alt="Cover of {{ read-of.name | escape }}" loading="lazy" onerror="this.src='/assets/icons/book-96.svg'; this.onerror=null;">
			</a>
			<div class="read-context__details">
				<p class="p-name read-context__title"><a href="{{ read-of.url }}">{{ read-of.name }}</a></p>
				<p class="read-context__author">by <span class="p-author">{{ read-of.author }}</span></p>
				{%- if progress -%}
				<p class="read-progress">{{ progress | capitalize }}</p>
				{%- endif -%}
				{%- if rating -%}
				<data class="p-rating rating-stars" value="{{ rating }}">
					{%- for i in (1..5) %}{% if i <= rating %}★️{% else %}☆{% endif %}{% endfor -%}
				</data>
				{%- endif -%}
			</div>
		</section>
		{%- endif -%}

		<div class="post-content e-content">
			{{ content }}
		</div>
		{% include "syndication.html" %}
		{% include "updates.html" %}
	</article>
	{% include "author.html" %}
	{% include "mentions.html" %}
</div>
{% include "suggestions.html" %}
