---
layout: default
---

<article class="" data-pagefind-body>
	<section class="container post">
		<header class="post-header">
			{%- if subtitle -%}
			<hgroup>
			{%- endif -%}
			<h1 class="post-title p-name">
				<a class="disable-link-styles" href="{{ page.url | url }}">
					{{ title | escape }}
				</a>
			</h1>
			{%- if subtitle -%}
				<p class="post-title p-summary">
					{{ subtitle | escape }}
				</p>
			</hgroup>
			{%- endif -%}
			<p class="post-meta">
				<a class="u-url disable-link-styles" href="{{ page.url | url }}">
					<time class="dt-published" datetime="{{ page.date | formatMachineDate }}">
						{{- page.date | formatHumanDate: dateFormat -}}
					</time>
				</a>
			</p>
			{% include "tags.html" %}
		</header>

		{% include "map" %}

		<div class="post-content e-content">
			{{ content }}
		</div>

		<section>
			<h2>Locations</h2>
			<ol id="trip-location-list">
<!-- TODO: Would love to make these clickable and zoom on the map -->
{%- for location in locations -%}
				<li data-map-link="{{forloop.index0}}">
					<time datetime="{{location.date}}">{{location.date | formatHumanDate: 'day'}}</time>
					{{location.type | capitalize}}: {{location.title}}
				</li>
{%- endfor -%}
			</ol>
		</section>
		<ol class="post-list">
			{%- for post in relatedPosts -%}
				{%- if post.url != page.url %}
				<li>
				{% include "post-card.html" post: post, showKind: true %}
				</li>
				{%- endif %}
			{%- endfor -%}
		</ol>
		{% include "syndication.html" %}
		{% include "updates.html" %}
	</section>
</article>
{% include "mentions.html" %}
{% include "suggestions.html" %}
